.header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1000 !important;
    
}
:root {
  --bulma-radius: 10px;
}
button.dropdown-item   {
  border-radius: 0px;
}

.dropdown-content {
  padding: 5px;
}