.header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1000 !important;
  padding: 10px;
}
:root {
  --bulma-radius: 10px;
}
button.dropdown-item   {
  border-radius: 5px;
}

.dropdown-content {
  padding: 5px;
}
.nav-element {
  margin: 10px 5px 1cqmin 5px;
  display: flex;
  justify-content: space-between;
}

.nav-element input {
 width: 100px;
}
.nav-element input[type="color"] {
  width: 30px;  
  height: 30px; 
  padding: 0;    
  border: none; 
  border-radius: 5px;
}
.dropdown-content {
  padding: 10px;
  width: 300px;
}
button.dropdown-item {
    padding: 0.5rem;
}

.dropdown-menu {
  opacity: 0.92;
}
.rotate-90 {
    transform: rotate(270deg);  /* Rotation de 90 degrés pour le mode paysage */
    display: inline-block;     /* Assure que l'icône se comporte correctement avec la rotation */
}